.homebody{
    position: fixed;
    width: 100%;
}
.sub_nav{
    border-top: 0.1rem solid black;
    border-bottom: 0.2rem solid black;
    background-color: whitesmoke;
    justify-content: center;
    align-items: center;
    color: black;
    height: 2rem;
    display: flex;
    font-size: 0.8rem;
    margin-top: 0.1rem;
    position: fixed;
    width: 100%;

}
.background{
    background-image: url('../Images/elderlycouple.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh; 
}
.text {
    color: white;
    background-color: rgba(53, 53, 53, 0.3);
    height: 16rem;
    width:25rem;
    display: flex;
    flex-direction: column;
    padding: 1rem 0.7rem;
    float: right;
    margin: 8rem 10rem;
    border-radius: 0.6rem;
    
}
.text > h2 {
    text-align: center;
}
.buttns{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    padding-top: 0.5rem;
}
.background > div > a {
    color: black;
    padding-top: 2rem;
}